aiofiles
aiohttp
aioshutil
bs4
curl_cffi
cryptography
gunicorn
flask
matplotlib
harukagram
pymongo
plyvel
psutil
python-dotenv
python-socketio
pycryptodome
requests
telegraph
urllib3>=2.0.6
uvloop==0.21.0
yt-dlp
