aiofiles
aiohttp
aiohttp_socks
aioshutil
bs4
curl_cffi
gunicorn
flask
lxml
motor
pymongo==4.8.0
psutil
python-dotenv
pycryptodome
pytz
pyrofork
requests
telegraph
tgcrypto
urllib3==1.26
uvloop==0.21.0
