aiofiles
aiohttp
aioshutil
bs4
captcha
curl_cffi
cryptography
gunicorn
flask
matplotlib
pymongo
plyvel
psutil
python-dotenv
python-socketio
pycryptodome
git+https://github.com/KurimuzonAkuma/kurigram.git@dev
requests
telegraph
tgcrypto
urllib3>=2.0.6
uvloop==0.21.0
yt-dlp
